p {
  padding: 0;
}

body {
  background-image: url(./assets/bg-100daysofcode_edited.png);
  background-size: contain;
}

.deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.app {
  padding: 10px;
}

.app .jumbotron {
  text-align: center;
}

.app .card {
  margin-right: 3px;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.app .card-header {
  color: white;
  background-color: blue;
  font-weight: bold;
  min-height: 70px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app .card-body {
  min-width: 0;
}

.app .card-text {
}

.app .card-text:hover {
}

.center {
  text-align: center;
}

/* MEDIA QUERY */

/* Small devices (portrait tablets and large phones, 476px and below) */
@media only screen and (max-width: 475px) {
  .app .card {
    width: 100%;
  }
  .app .card-header {
    height: auto;
    min-height: 40px;
  }
}

/* Medium devices (landscape tablets, 476px and up) */
@media only screen and (min-width: 476px) {
  .app .card {
    width: 49%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app .card {
    width: 32%;
  }
}
